/*
BOX
More info: https://every-layout.dev/layouts/box/#the-generator
*/

.box {
  color: var(--color-gray-1400);
  background-color: var(--color-gray-300);
  padding: var(--space-s-m);
}

.box * {
  color: inherit;
}

.box.invert {
  color: var(--color-gray-300);
  background-color: var(--color-gray-1400);
}
