---
import Layout from '../layouts/Layout.astro';
import ZenSVG from '../components/ZenSVG.astro';
---

<Layout>
  <main role="main" id="main">
    <section class="cover flow text-center relative z-10 overflow-clip">
      <div class="flow flex flex-col items-center z-10 wrapper text-center">
        <span class="z-10 font-weight-bold step-0"
          ><object
            type="image/svg+xml"
            data="/images/designzen-wordmark.svg"
            width="100px"><span class="sr-only">designzen</span></object
          >
        </span>

        <h1>
          Principal <span id="role"> UX</span>
          <br />Engineer on-demand.
        </h1>
      </div>
      <div class="center z-10">
        <div class="box invert max-w-3xl">
          <h2 class="font-semibold mt-zero text-left">
            Design strategy to enhance your mission, vision, and purpose —
            driving exceptional value to your customers.
          </h2>
        </div>
      </div>
      <ZenSVG />
    </section>
    <section class="overflow-clip">
      <ul role="list" class="repel my-zero bg-gray-100">
        <li class="box grow flex justify-center">
          <svg
            width="171.4"
            height="40"
            viewBox="0 0 1024 239"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xml:space="preserve"
            fill="currentColor"
            data-size="m"
          >
            <path
              id="path28520"
              d="M322.564,64.626l-13.738,0l-0,108.005l68.49,-0l-0,-13.434l-54.752,-0l-0,-94.571Zm578.482,39.011l-27.172,31.261l27.4,31.516l-9.166,7.95l-0.221,-0.255l-26.053,-29.969l-26.288,30.225l-9.145,-7.95l0.221,-0.27l27.172,-31.247l-27.393,-31.524l9.145,-7.956l0.235,0.255l26.053,29.969l26.274,-30.225l9.166,7.957l-0.228,0.263Zm-179.306,38.631l-73.663,-77.642l-2.721,0l-0,108.005l13.738,-0l-0,-77.642l73.663,77.642l2.714,-0l0,-108.005l-13.731,0l0,77.642Zm193.279,-45.11l12.985,-0l-0,75.473l-12.985,-0l-0,-75.473Zm-0.615,-20.383l14.201,0l-0,-12.156l-14.201,0l0,12.156Zm-88.078,61.286c-0.304,-26.868 -15.7,-42.112 -36.835,-42.112c-21.129,0 -37.892,17.054 -37.892,38.949c0,21.729 16.46,38.941 38.804,38.941c13.13,0 23.85,-5.435 30.342,-12.225l-0.069,-0.076l-9.241,-8.033c-4.856,4.427 -12.157,8.109 -21.032,8.109c-13.738,-0 -24.154,-10.112 -25.369,-23.553l61.292,0Zm-14.636,-11.32l-46.042,-0c2.714,-11.473 12.067,-18.863 23.083,-18.863c11.48,-0.159 21.136,6.478 22.959,18.863m164.083,2.866l-6.431,-2.265c-9.103,-3.171 -11.458,-6.79 -11.458,-11.466c-0,-5.284 5.187,-8.302 11.141,-8.302c5.511,-0 9.4,2.245 12.729,5.884l8.793,-7.646c-5.498,-6.596 -12.847,-9.863 -21.522,-9.863c-14.277,0 -24.479,8.751 -24.479,20.079c0,9.055 4.87,17.357 18.677,22.337l6.119,2.266c9.249,3.163 13.338,6.333 13.338,12.073c-0,5.74 -6.279,9.511 -13.966,9.511c-8.289,-0 -13.6,-3.833 -18.518,-9.511l-9.269,8.061c6.776,8.233 16.425,13.074 27.476,13.074c17.102,0 27.773,-9.51 27.773,-21.591c0,-11.168 -7.066,-17.958 -20.403,-22.641m-443.471,-26.233l-9.152,-7.957l-26.281,30.225l-26.053,-29.969l-0.228,-0.255l-9.166,7.956l27.407,31.524l-27.172,31.247l-0.235,0.27l9.166,7.95l26.281,-30.225l26.046,29.969l0.235,0.255l9.152,-7.95l-27.393,-31.516l27.172,-31.261l0.221,-0.263Zm13.745,-6.216l12.985,-0l0,75.473l-12.985,-0l-0,-75.473Zm-0.601,-20.383l14.208,0l-0,-12.156l-14.208,0l-0,12.156Zm-88.085,61.286c-0.304,-26.868 -15.693,-42.112 -36.835,-42.112c-21.135,0 -37.885,17.054 -37.885,38.949c0,21.729 16.452,38.941 38.79,38.941c13.137,0 23.857,-5.435 30.349,-12.225l-0.069,-0.076l-9.241,-8.033c-4.863,4.427 -12.157,8.109 -21.039,8.109c-13.731,-0 -24.147,-10.112 -25.356,-23.553l61.286,0Zm-14.643,-11.32l-46.042,-0c2.715,-11.473 12.08,-18.863 23.097,-18.863c11.473,-0.159 21.135,6.478 22.945,18.863m164.09,2.866l-6.431,-2.265c-9.103,-3.171 -11.458,-6.79 -11.458,-11.466c-0,-5.284 5.187,-8.302 11.147,-8.302c5.505,-0 9.401,2.245 12.723,5.884l8.793,-7.646c-5.498,-6.596 -12.84,-9.863 -21.516,-9.863c-14.283,0 -24.485,8.751 -24.485,20.079c0,9.055 4.87,17.357 18.67,22.337l6.126,2.266c9.256,3.163 13.338,6.333 13.338,12.073c-0,5.74 -6.279,9.511 -13.966,9.511c-8.289,-0 -13.6,-3.833 -18.518,-9.511l-9.269,8.061c6.776,8.233 16.425,13.074 27.476,13.074c17.102,0 27.773,-9.51 27.773,-21.591c0,-11.168 -7.066,-17.958 -20.403,-22.641m410.117,-42.761c-0,-5.657 -4.386,-10.084 -10.002,-10.084c-5.539,-0 -10.042,4.517 -10.042,10.084c-0,5.657 4.413,10.091 10.042,10.091c5.616,-0 10.002,-4.434 10.002,-10.091m-1.665,-0c0,4.738 -3.654,8.468 -8.337,8.468c-4.669,-0 -8.336,-3.73 -8.336,-8.468c-0,-4.669 3.736,-8.475 8.336,-8.475c4.607,-0 8.337,3.806 8.337,8.475m-6.416,0.497l2.714,5.001l-2.017,-0l-2.597,-4.725l-1.975,0l-0,4.725l-1.872,-0l-0,-11.328l3.999,0c2.569,0 4.048,1.181 4.048,3.233c-0,1.664 -0.774,2.707 -2.3,3.094m-1.879,-4.628l-1.996,0l-0,3.274l2.037,0c1.617,0 2.293,-0.511 2.293,-1.699c0,-1.084 -0.718,-1.575 -2.334,-1.575m-753.402,-28.18c-0,-5.657 -4.393,-10.084 -10.001,-10.084c-5.54,-0 -10.05,4.517 -10.05,10.084c-0,5.657 4.42,10.091 10.05,10.091c5.608,0 10.001,-4.434 10.001,-10.091m-1.665,-0c0,4.745 -3.66,8.468 -8.336,8.468c-4.676,-0 -8.337,-3.723 -8.337,-8.468c-0,-4.669 3.737,-8.475 8.337,-8.475c4.6,-0 8.336,3.806 8.336,8.475m-6.416,0.504l2.714,4.994l-2.017,-0l-2.597,-4.725l-1.975,0l-0,4.725l-1.872,-0l0,-11.328l3.992,0c2.577,0 4.055,1.181 4.055,3.233c-0,1.664 -0.774,2.707 -2.3,3.101m-1.879,-4.635l-1.996,0l-0,3.281l2.038,0c1.616,0 2.293,-0.511 2.293,-1.706c-0,-1.084 -0.719,-1.575 -2.335,-1.575"
              style="fill-rule:nonzero;"></path>
            <path
              id="path28524"
              d="M49.432,107.692c11.97,-23.864 31.662,-43.045 54.869,-54.199c2.715,-1.292 5.478,-2.487 8.268,-3.571c0.249,-0.104 0.145,-0.47 -0.124,-0.421c-82.622,13.903 -118.076,116.597 -62.902,160.546c0.214,0.172 0.49,-0.09 0.331,-0.304c-8.012,-10.989 -26.916,-48.867 -0.442,-102.051m18.981,68.469c-2.169,-13.552 -2.135,-27.324 0.015,-40.62c4.324,-26.64 17.192,-51.057 35.703,-69.153c3.439,-3.391 7.093,-6.52 10.885,-9.435c0.207,-0.159 0.016,-0.483 -0.228,-0.38c-43.19,19.305 -68.11,67.482 -64.919,111.369c1.754,20.058 9.642,56.996 48.1,64.29c0.242,0.042 0.373,-0.276 0.173,-0.414c-15.824,-10.872 -26.951,-36.31 -29.728,-55.657m-53.384,-98.943c19.312,-27.275 58.951,-45.683 97.672,-40.896c0.276,0.036 0.352,-0.359 0.089,-0.428c-29.555,-8.641 -60.298,-2.846 -79.085,12.329c-8.06,6.506 -14.318,17.737 -19.063,28.774c-0.11,0.256 0.228,0.442 0.387,0.221m218.102,34.045c-5.104,-62.426 -61.362,-109.732 -123.739,-104.033c-21.674,1.975 -44.861,10.933 -62.149,25.556c-0.214,0.179 0.016,0.511 0.256,0.366c14.787,-8.461 35.163,-8.254 47.181,-6.852c6.334,0.739 12.592,2.065 18.649,3.937c6.058,1.886 11.936,4.331 17.53,7.273c2.901,1.52 5.726,3.191 8.461,4.987c10.202,-4.538 20.963,-7.556 31.8,-9.076l0.036,0c0.767,-0.11 1.554,0.304 1.817,1.036c0.338,0.96 -0.256,1.934 -1.188,2.128c-5.83,1.236 -11.569,2.914 -17.143,5.014c-0.242,0.097 -0.18,0.463 0.089,0.463c7.902,0.026 15.762,0.877 23.408,2.472l0.036,0.006c0.684,0.151 1.23,0.683 1.313,1.367c0.124,1.133 -0.829,1.955 -1.838,1.817c-6.713,-1.016 -13.523,-1.423 -20.32,-1.202c-0.263,0.005 -0.311,0.387 -0.055,0.462c3.177,0.974 6.299,2.086 9.372,3.323c5.775,2.355 11.328,5.201 16.605,8.44l0.055,0.047c0.504,0.304 0.836,0.87 0.767,1.464c-0.152,1.271 -1.437,1.817 -2.39,1.292c-5.256,-2.901 -10.74,-5.388 -16.397,-7.405c-2.383,-0.829 -4.794,-1.588 -7.218,-2.251c-0.269,-0.069 -0.421,0.283 -0.193,0.428c3.971,2.507 7.763,5.249 11.348,8.261c4.773,3.999 9.193,8.399 13.199,13.13l0.037,0.041c0.387,0.463 0.518,1.106 0.269,1.644c-0.546,1.161 -1.948,1.278 -2.687,0.47c-4.04,-4.441 -8.461,-8.537 -13.192,-12.232c-2.797,-2.183 -5.726,-4.193 -8.744,-6.071c-0.235,-0.145 -0.491,0.165 -0.297,0.373c0.863,0.897 1.706,1.823 2.535,2.755c4.13,4.704 7.832,9.767 11.03,15.12c3.198,5.339 5.899,10.975 8.067,16.784l0.021,0.041c0.201,0.567 0.111,1.223 -0.311,1.651c-0.918,0.912 -2.286,0.539 -2.7,-0.497c-2.238,-5.567 -4.98,-10.941 -8.192,-16.011c-3.212,-5.076 -6.893,-9.849 -10.968,-14.263c-4.082,-4.399 -8.565,-8.433 -13.372,-12.032c-1.354,-1.022 -3.405,-2.438 -4.22,-2.963c-93.887,52.355 -61.307,189.819 6.451,182.677c53.819,-12.771 91.621,-63.248 86.987,-119.94m-203.868,-17.15c21.653,-34.321 59.386,-49.095 82.504,-51.312c0.263,-0.021 0.263,-0.429 0,-0.442c-9.552,-0.829 -18.393,-0.201 -29.969,2.21c-11.708,2.68 -22.98,7.301 -33.064,13.828c-10.112,6.479 -19.029,14.802 -26.261,24.382c-0.069,0.089 -0.138,0.2 -0.214,0.29c-13.945,18.683 -18.421,42.685 -12.881,65.333c0.628,2.59 2.39,7.957 3.585,11.369c0.082,0.249 0.462,0.166 0.428,-0.104c-2.873,-26.806 4.918,-48.197 15.872,-65.554"
              style="fill-rule:nonzero;"></path>
          </svg>
        </li>
        <li class="box grow flex justify-center">
          <svg
            width="89"
            height="40"
            viewBox="0 0 89 40"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            data-size="m"
          >
            <path
              d="M72.4093 8.57368H67.4083V13.5693H72.4093C73.5963 13.5693 74.5513 14.5361 74.5513 15.7161C74.5513 16.9043 73.5963 17.8591 72.4093 17.8591H67.4083V22.8591H72.4093C76.3558 22.8591 79.5525 19.6593 79.5525 15.7161C79.5525 11.7719 76.3558 8.57368 72.4093 8.57368ZM43.909 35.0087C49.8954 35.0087 55.0547 31.5028 57.4648 26.429H63.8396V35.0087H67.4083V26.429H72.4093C78.3307 26.429 83.1276 21.632 83.1276 15.7161C83.1276 9.79878 78.3307 5 72.4093 5H63.8396V17.8591H58.7537C57.7164 10.5919 51.4654 5 43.909 5H26.3221L8.82812 35.0087H13.0014L18.0014 26.429H35.9792V35.0087H43.909ZM88.1287 15.7161C88.1287 24.3946 81.0899 31.429 72.4093 31.429V40H58.8405V33.3138C55.1698 37.4175 49.8454 40 43.909 40H30.9783V31.429H20.8719L15.8719 40H0L23.3301 0H43.909C49.8454 0 55.1698 2.58957 58.8405 6.69379V0H72.4093C81.0899 0 88.1287 7.04 88.1287 15.7161ZM30.9783 8.57368V17.8591H23.0014L20.0879 22.8591H35.9792V8.57368H30.9783ZM55.3413 20C55.3413 26.3129 50.2208 31.429 43.909 31.429H39.5501V26.429H43.909C47.4626 26.429 50.3422 23.5547 50.3422 20C50.3422 16.4529 47.4626 13.5693 43.909 13.5693H39.5501V8.57368H43.909C50.2208 8.57368 55.3413 13.6898 55.3413 20Z"
            ></path>
            <path
              d="M72.4093 8.57368H67.4083V13.5693H72.4093C73.5963 13.5693 74.5513 14.5361 74.5513 15.7161C74.5513 16.9043 73.5963 17.8591 72.4093 17.8591H67.4083V22.8591H72.4093C76.3558 22.8591 79.5525 19.6593 79.5525 15.7161C79.5525 11.7719 76.3558 8.57368 72.4093 8.57368ZM43.909 35.0087C49.8954 35.0087 55.0547 31.5028 57.4648 26.429H63.8396V35.0087H67.4083V26.429H72.4093C78.3307 26.429 83.1276 21.632 83.1276 15.7161C83.1276 9.79878 78.3307 5 72.4093 5H63.8396V17.8591H58.7537C57.7164 10.5919 51.4654 5 43.909 5H26.3221L8.82812 35.0087H13.0014L18.0014 26.429H35.9792V35.0087H43.909ZM88.1287 15.7161C88.1287 24.3946 81.0899 31.429 72.4093 31.429V40H58.8405V33.3138C55.1698 37.4175 49.8454 40 43.909 40H30.9783V31.429H20.8719L15.8719 40H0L23.3301 0H43.909C49.8454 0 55.1698 2.58957 58.8405 6.69379V0H72.4093C81.0899 0 88.1287 7.04 88.1287 15.7161ZM30.9783 8.57368V17.8591H23.0014L20.0879 22.8591H35.9792V8.57368H30.9783ZM55.3413 20C55.3413 26.3129 50.2208 31.429 43.909 31.429H39.5501V26.429H43.909C47.4626 26.429 50.3422 23.5547 50.3422 20C50.3422 16.4529 47.4626 13.5693 43.909 13.5693H39.5501V8.57368H43.909C50.2208 8.57368 55.3413 13.6898 55.3413 20Z"
            ></path>
            <path
              d="M72.4093 8.57368H67.4083V13.5693H72.4093C73.5963 13.5693 74.5513 14.5361 74.5513 15.7161C74.5513 16.9043 73.5963 17.8591 72.4093 17.8591H67.4083V22.8591H72.4093C76.3558 22.8591 79.5525 19.6593 79.5525 15.7161C79.5525 11.7719 76.3558 8.57368 72.4093 8.57368ZM43.909 35.0087C49.8954 35.0087 55.0547 31.5028 57.4648 26.429H63.8396V35.0087H67.4083V26.429H72.4093C78.3307 26.429 83.1276 21.632 83.1276 15.7161C83.1276 9.79878 78.3307 5 72.4093 5H63.8396V17.8591H58.7537C57.7164 10.5919 51.4654 5 43.909 5H26.3221L8.82812 35.0087H13.0014L18.0014 26.429H35.9792V35.0087H43.909ZM88.1287 15.7161C88.1287 24.3946 81.0899 31.429 72.4093 31.429V40H58.8405V33.3138C55.1698 37.4175 49.8454 40 43.909 40H30.9783V31.429H20.8719L15.8719 40H0L23.3301 0H43.909C49.8454 0 55.1698 2.58957 58.8405 6.69379V0H72.4093C81.0899 0 88.1287 7.04 88.1287 15.7161ZM30.9783 8.57368V17.8591H23.0014L20.0879 22.8591H35.9792V8.57368H30.9783ZM55.3413 20C55.3413 26.3129 50.2208 31.429 43.909 31.429H39.5501V26.429H43.909C47.4626 26.429 50.3422 23.5547 50.3422 20C50.3422 16.4529 47.4626 13.5693 43.909 13.5693H39.5501V8.57368H43.909C50.2208 8.57368 55.3413 13.6898 55.3413 20Z"
            ></path>
          </svg>
        </li>
        <li class="box grow flex justify-center">
          <svg
            width="136"
            height="40"
            viewBox="0 0 136 40"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            data-size="m"
          >
            <path
              d="M76.7209 8C77.4419 8 78.1395 7.72093 78.6512 7.23256C79.1628 6.74419 79.4651 6.04651 79.4884 5.34884C79.4884 4.62791 79.186 3.93023 78.6744 3.4186C78.1628 2.90698 77.4651 2.60465 76.7442 2.60465C76.0233 2.62791 75.3488 2.90698 74.8372 3.44186C74.3256 3.95349 74.0465 4.65116 74.0698 5.34884C74.0698 6.04651 74.3488 6.72093 74.8605 7.23256C75.3488 7.69767 76.0233 7.97674 76.7209 8ZM95.4651 10.5581H102.116V11.093C101.744 11.1628 101.395 11.2791 101.07 11.4651C100.465 11.7442 99.2558 13.1163 98.3023 15.4186C96.7209 19.3953 95.0698 24.1163 93.3256 29.5116L92.6744 31.5581C92.3953 32.4884 92.1395 33.093 92.0233 33.4419C91.907 33.814 91.7442 34.3721 91.4651 35.0465C91.3023 35.5581 91.093 36.0698 90.8372 36.5349C90.5116 37.1395 89.907 38.3721 89.4186 38.7442C88.6512 39.3954 87.5116 40.1163 86.093 40C83.3256 40 81.2558 37.9535 81.2326 35.5349C81.2326 33.8837 82.2791 32.7907 83.8605 32.7907C85 32.7907 86 33.3954 86 34.6744C86 35.6047 85.0698 36.5581 85.0698 37.0465C85.0698 38.3023 85.7907 38.8837 87.2093 38.8837C88.3488 38.8837 89.2791 38.1628 89.9767 36.7209C90.907 35.0698 91 33.2558 90.2093 31.2326L84.3721 15.8837C83.0232 12.3488 82.0232 11.186 80.7674 11.0465V10.5116H89.9767V11.0465C88.8837 11.1628 88.3256 11.814 88.3256 12.9767C88.3256 13.814 88.6512 15.1163 89.2558 16.7674L90.3488 19.7442C91.6046 22.9767 92.6279 25.7907 93.1395 27.5581C94.3256 23.8837 95.4186 20.6744 96.4651 17.8605C97.2326 15.7674 97.6047 14.2791 97.6047 13.3953C97.6047 11.814 96.7442 11.093 95.4651 11.093V10.5581ZM31.4419 30.1628C30.2558 29.9535 29.2558 28.907 29.2558 26.6977V0L22.5581 1.44186V2C23.6977 1.88372 24.8372 2.88372 24.8372 5.02326V26.6977C24.8372 28.7907 23.6977 30 22.5581 30.1628C22.4419 30.186 22.3488 30.186 22.2326 30.2093C21.6512 30.2558 21.0698 30.1395 20.5349 29.907C19.6279 29.5116 18.8837 28.814 18.2558 27.7907L15.1628 22.8837C14.5116 21.8372 13.5349 21.0465 12.3953 20.6047C11.2558 20.1628 10 20.093 8.81395 20.4186L12.3023 16.5814C14.9302 13.6744 17.3721 11.8372 19.6744 11.0698V10.5349H12V11.0698C13.9767 11.8372 13.8605 13.5349 11.5814 16.186L6.69767 21.8605V0L0 1.44186V2C1.13953 2 2.27907 3.11628 2.27907 5.09302V26.6744C2.27907 29.0698 1.16279 30 0 30.1628V30.6977H8.88372V30.1628C7.4186 29.9535 6.69767 28.8372 6.69767 26.6977V22.7209L8.60465 20.6279L13.2093 28.1628C14.3023 29.9767 15.3256 30.6977 16.9302 30.6977H32.3721V30.2791C32.3953 30.2791 31.9535 30.2558 31.4419 30.1628ZM49.8605 27.6279V18.6047C49.7674 12.7209 47.2791 10.0233 41.5814 10.0233C39.7674 10 38 10.6047 36.5581 11.7209C35.0465 12.8605 34.3256 14.1395 34.3256 15.6279C34.3256 17.0698 35.1395 18.1628 36.4651 18.1628C37.8837 18.1628 38.907 17.3488 38.907 16.2326C38.907 15.3954 38.3488 14.2093 38.3488 13.4186C38.3488 11.9767 39.4419 10.7209 41.3488 10.7209C43.7907 10.7209 45.5349 12.5349 45.5349 16.5581V18.9767L43.5116 19.4651C42.4651 19.6744 41.5581 19.8837 40.8837 20.0698C40.186 20.2791 39.3023 20.5581 38.2558 20.9535C36.1395 21.7674 35.0233 22.5349 34.0465 23.9767C33.5581 24.6744 33.3256 25.5116 33.3256 26.3488C33.3256 29.6977 35.6744 31.2326 38.9535 31.2326C41.5581 31.2326 44.3023 29.8605 45.5581 27.2791C45.5814 28.093 45.7674 28.8837 46.1395 29.6279C47.5116 32.3954 52.0698 30.7674 52.0698 30.7674V30.2326C50.0233 30.5349 49.8605 28.186 49.8605 27.6279ZM45.5349 24.8372C45.5349 26.1628 45.0465 27.2558 44.0698 28.0233C43.1395 28.7907 42.1628 29.186 41.1395 29.186C39.1628 29.186 37.8605 27.907 37.8605 25.5116C37.8605 24.3953 38.4884 23.3488 39 22.7442C39.4186 22.3256 39.8837 21.9767 40.4186 21.7442C41.1163 21.3721 41.4419 21.186 41.9302 20.9767L43.7907 20.3023C44.7209 19.9302 45.2791 19.7442 45.5349 19.6279V24.8372ZM135.116 10.5581H119.349V0H135.116L131.814 5.27907L135.116 10.5581ZM103.047 28.1163C101.093 26.1163 100 23.4186 100.047 20.6047C100.023 19.2326 100.279 17.8605 100.791 16.5814C101.302 15.3023 102.07 14.1395 103.047 13.1395C105.047 11.0465 107.465 10 110.326 10C113.116 10 115.558 11.0465 117.558 13.1395C118.535 14.1163 119.326 15.2791 119.837 16.5581C120.372 17.8372 120.628 19.2093 120.605 20.6047C120.628 22 120.372 23.3721 119.837 24.6512C119.302 25.9302 118.535 27.1163 117.558 28.093C115.558 30.1395 113.14 31.2093 110.326 31.2093C107.488 31.2326 105.047 30.186 103.047 28.1163ZM113.977 13.4884C113.186 11.9302 112.116 11.0233 110.884 10.7674C108.372 10.2558 106.163 12.8372 105.326 16.907C104.977 18.7442 104.884 20.6047 105.07 22.4419C105.256 24.3023 105.767 26.093 106.605 27.7674C107.419 29.3256 108.465 30.2326 109.698 30.4884C112.209 31 114.488 28.3256 115.326 24.2093C116.023 20.7674 115.674 16.5814 113.977 13.4884Z"
            ></path>
            <path
              d="M79.0698 26.6977V10.5582H64.7907V11.0465C66.6977 11.3256 67.6046 12.7675 66.7442 15.0698C62.2791 27.1163 62.5581 26.5814 62.2791 27.5349C62 26.6047 61.3488 24.3256 60.3023 21.4651C59.2558 18.6047 58.5581 16.721 58.2791 15.8605C57.186 12.5117 57.5581 11.2791 59.3256 11.0698V10.5349H50.0698V11.0698C51.4419 11.3489 52.6744 12.9303 53.6744 15.7442L55.093 19.4186C56.6512 23.3721 58.4884 28.8372 59.093 30.6977H62.1628C63.1628 27.8372 67.1163 16.3954 67.6512 15.2326C68.2326 13.907 68.8837 12.907 69.6046 12.2093C69.9535 11.8372 70.3721 11.5349 70.8605 11.3489C71.3256 11.1628 71.8372 11.0465 72.3488 11.0698C72.3488 11.0698 74.5814 11.0698 74.5814 13.2093V26.721C74.5814 28.9768 73.4884 30.0233 72.3488 30.1861V30.721H81.186V30.1861C80.0465 30 79.0698 28.9535 79.0698 26.6977Z"
            ></path>
          </svg>
        </li>
        <li class="box grow flex justify-center">
          <svg
            width="218"
            height="40"
            viewBox="0 0 218 40"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            data-size="m"
          >
            <path d="M19.9929 0L0 40H6.23025L23.1246 5.47464L19.9929 0Z"></path>
            <path
              d="M11.5623 35.1289L40.0808 35.1337L36.9871 29.7256H14.1666L11.5623 35.1289Z"
            ></path>
            <path
              d="M24.4933 7.86981L21.4613 14.0668L29.6828 27.4587H35.6944L24.4933 7.86981Z"
            ></path>
            <path
              d="M47.4848 15.0125V0.0760498H52.9737C54.3329 0.0760498 55.4925 0.499003 56.4477 1.34491C57.4076 2.19082 57.8876 3.23632 57.8876 4.47667C57.8876 5.60296 57.4266 6.44411 56.5047 7.00488C57.208 7.27101 57.8163 7.75099 58.3248 8.44007C58.8381 9.12916 59.0947 9.8515 59.0947 10.6119C59.0947 11.8522 58.6195 12.8977 57.6642 13.7436C56.7138 14.5895 55.5637 15.0125 54.2188 15.0125H47.4848ZM54.2283 5.80256C54.5753 5.46514 54.7463 5.0707 54.7463 4.61924C54.7463 4.11549 54.5753 3.67353 54.2283 3.2981C53.8862 2.92267 53.468 2.73733 52.9737 2.73733H50.6071V6.31105H52.9737C53.4632 6.31105 53.8814 6.14472 54.2283 5.80256ZM55.5067 11.7857C55.8299 11.4103 55.9914 10.9683 55.9914 10.4645C55.9914 10.0131 55.8251 9.61864 55.4877 9.28123C55.155 8.94382 54.7558 8.77273 54.2996 8.77273H50.6024V12.3465H54.3186C54.7844 12.3465 55.1788 12.1564 55.502 11.7809L55.5067 11.7857Z"
            ></path>
            <path
              d="M61.9983 13.8387C60.9386 12.8977 60.4063 11.8047 60.4063 10.5596V0.0760498H63.5286V10.0368C63.5286 10.7734 63.7995 11.3627 64.346 11.8047C64.8925 12.2467 65.5863 12.4653 66.437 12.4653C67.1546 12.4653 67.8199 12.2657 68.4329 11.8617C69.046 11.4578 69.3549 10.8495 69.3549 10.0368V0.0760498H72.4676V10.5596C72.4676 11.8855 71.9069 12.9975 70.7853 13.8957C69.6638 14.7939 68.2143 15.2454 66.4417 15.2454C64.5456 15.2454 63.0629 14.7749 62.0031 13.8339L61.9983 13.8387Z"
            ></path>
            <path d="M74.8105 15.0125V0.0760498H77.9328V15.0125H74.8105Z"
            ></path>
            <path
              d="M90.474 15.0125H80.2756V0.0760498H83.3979V12.3512H90.474V15.0125Z"
            ></path>
            <path
              d="M91.8855 15.0125V0.0760498H97.1082C99.2705 0.0760498 101.119 0.80315 102.649 2.2621C104.18 3.72105 104.945 5.4794 104.945 7.53714C104.945 9.59488 104.18 11.358 102.649 12.8217C101.119 14.2806 99.2753 15.0125 97.1082 15.0125H91.8855ZM100.435 10.9445C101.357 10.0036 101.818 8.87253 101.818 7.54189C101.818 6.21125 101.357 5.08496 100.44 4.14876C99.5224 3.20781 98.4104 2.74208 97.1082 2.74208H95.0077V12.356H97.1082C98.4056 12.356 99.5129 11.8855 100.435 10.9493V10.9445Z"
            ></path>
            <path
              d="M106.622 15.0125V0.0760498H116.859V2.73733H109.745V6.31105H115.652V8.77749H109.745V12.3512H116.859V15.0125H106.622Z"
            ></path>
            <path
              d="M138.059 15.4545C136.852 15.4545 135.668 15.1978 134.518 14.6798C133.363 14.1666 132.484 13.4442 131.876 12.5128L133.934 10.5976C134.361 11.2249 134.974 11.7287 135.759 12.1041C136.547 12.4795 137.313 12.6649 138.059 12.6649C138.805 12.6649 139.418 12.508 139.903 12.1944C140.387 11.8807 140.63 11.4673 140.63 10.954C140.63 10.6214 140.487 10.322 140.202 10.0606C139.917 9.79923 139.465 9.57587 138.852 9.39053L135.331 8.32602C134.433 8.04564 133.706 7.61318 133.159 7.02389C132.613 6.43936 132.342 5.63147 132.342 4.60973C132.342 3.35988 132.902 2.29062 134.019 1.40669C135.136 0.518012 136.486 0.0760498 138.063 0.0760498C139.247 0.0760498 140.302 0.270894 141.233 0.655829C142.165 1.04076 142.963 1.6348 143.624 2.44269L141.381 4.30559C141.034 3.8256 140.592 3.46443 140.055 3.22206C139.518 2.9797 138.886 2.85614 138.154 2.85614C137.555 2.85614 137.018 3.01296 136.552 3.33137C136.087 3.64977 135.849 4.06322 135.849 4.57647C135.844 4.90437 135.925 5.17525 136.096 5.39386C136.267 5.61246 136.528 5.77404 136.875 5.87384L140.867 7.12369C141.899 7.43259 142.697 7.89356 143.262 8.51611C143.828 9.13866 144.118 9.93705 144.132 10.9208C144.132 12.1706 143.552 13.2399 142.393 14.1238C141.233 15.0125 139.789 15.4545 138.063 15.4545H138.059Z"
            ></path>
            <path
              d="M180.145 13.8387C179.085 12.8977 178.553 11.8047 178.553 10.5596V0.0760498H181.675V10.0368C181.675 10.7734 181.946 11.3627 182.493 11.8047C183.039 12.2467 183.733 12.4653 184.584 12.4653C185.301 12.4653 185.966 12.2657 186.58 11.8617C187.193 11.4578 187.501 10.8495 187.501 10.0368V0.0760498H190.614V10.5596C190.614 11.8855 190.053 12.9975 188.932 13.8957C187.81 14.7939 186.361 15.2454 184.588 15.2454C182.692 15.2454 181.209 14.7749 180.15 13.8339L180.145 13.8387Z"
            ></path>
            <path
              d="M197.985 15.4545C196.778 15.4545 195.595 15.1978 194.445 14.6798C193.29 14.1666 192.411 13.4442 191.802 12.5128L193.86 10.5976C194.288 11.2249 194.901 11.7287 195.685 12.1041C196.474 12.4795 197.239 12.6649 197.985 12.6649C198.731 12.6649 199.344 12.508 199.829 12.1944C200.314 11.8807 200.556 11.4673 200.556 10.954C200.556 10.6214 200.413 10.322 200.128 10.0606C199.843 9.79923 199.392 9.57587 198.779 9.39053L195.257 8.32602C194.359 8.04564 193.632 7.61318 193.085 7.02389C192.539 6.43936 192.268 5.63147 192.268 4.60973C192.268 3.35988 192.829 2.29062 193.946 1.40669C195.062 0.518012 196.412 0.0760498 197.99 0.0760498C199.173 0.0760498 200.228 0.270894 201.16 0.655829C202.091 1.04076 202.889 1.6348 203.55 2.44269L201.307 4.30559C200.96 3.8256 200.518 3.46443 199.981 3.22206C199.444 2.9797 198.812 2.85614 198.08 2.85614C197.481 2.85614 196.944 3.01296 196.479 3.33137C196.013 3.64977 195.775 4.06322 195.775 4.57647C195.77 4.90437 195.851 5.17525 196.022 5.39386C196.193 5.61246 196.455 5.77404 196.802 5.87384L200.794 7.12369C201.825 7.43259 202.623 7.89356 203.189 8.51611C203.754 9.13866 204.044 9.93705 204.058 10.9208C204.058 12.1706 203.479 13.2399 202.319 14.1238C201.16 15.0125 199.715 15.4545 197.99 15.4545H197.985Z"
            ></path>
            <path
              d="M132.057 14.9935L129.628 11.9473L127.542 9.30974C128.445 8.99609 129.205 8.50185 129.832 7.83178C130.455 7.15696 130.769 6.197 130.769 4.94714C130.769 3.47869 130.255 2.30012 129.224 1.41144C128.193 0.522765 126.976 0.0760498 125.57 0.0760498H119.078V15.0125H122.2V2.73733H125.365C125.974 2.73733 126.511 2.92267 126.976 3.29335C127.442 3.66403 127.68 4.21529 127.68 4.94714C127.68 5.679 127.447 6.216 126.976 6.59144C126.62 6.87657 126.221 7.04766 125.779 7.11419C125.646 7.1332 125.503 7.14745 125.361 7.14745H122.414L125.147 10.5739L128.682 15.0077H132.057L132.047 14.9935L132.057 14.984V14.9935Z"
            ></path>
            <path
              d="M178.254 14.9935L175.825 11.9473L173.739 9.30974C174.642 8.99609 175.402 8.50185 176.029 7.83178C176.652 7.15696 176.966 6.197 176.966 4.94714C176.966 3.47869 176.452 2.30012 175.421 1.41144C174.39 0.522765 173.173 0.0760498 171.767 0.0760498H165.275V15.0125H168.397V2.73733H171.562C172.171 2.73733 172.708 2.92267 173.173 3.29335C173.639 3.66403 173.877 4.21529 173.877 4.94714C173.877 5.679 173.644 6.216 173.173 6.59144C172.817 6.87657 172.418 7.04766 171.976 7.11419C171.843 7.1332 171.7 7.14745 171.558 7.14745H168.611L171.344 10.5739L174.879 15.0077H178.254L178.244 14.9935L178.254 14.984V14.9935Z"
            ></path>
            <path
              d="M156.051 15.0125V2.72783H151.574L150.543 0.0760498H163.645V2.72783H159.173V15.0125H156.051Z"
            ></path>
            <path
              d="M209.006 15.0125V2.72783H204.534V0.0760498H217.636L216.604 2.72783H212.128V15.0125H209.006Z"
            ></path>
            <path
              d="M54.9602 34.6157C52.7029 34.6157 50.8305 33.8648 49.3525 32.3631C47.8698 30.8614 47.1332 29.046 47.1332 26.917C47.1332 24.7879 47.8745 22.9821 49.3525 21.4756C50.8305 19.9691 52.7029 19.2183 54.9602 19.2183C57.0892 19.2183 58.9094 19.9644 60.4158 21.4613L58.3058 23.4906C57.3791 22.5639 56.2623 22.0981 54.9555 22.0981C53.6486 22.0981 52.5413 22.5686 51.6574 23.5096C50.7782 24.4505 50.3362 25.5863 50.3362 26.917C50.3362 28.2476 50.7734 29.3929 51.6574 30.3386C52.5365 31.2796 53.6343 31.75 54.9555 31.75C56.2766 31.75 57.3744 31.2843 58.3058 30.3576L60.4158 32.3869C58.9094 33.8743 57.0892 34.6204 54.9602 34.6204V34.6157Z"
            ></path>
            <path
              d="M79.1351 34.1547H76.0033V19.2183H82.495C83.9016 19.2183 85.123 19.665 86.1542 20.5537C87.1902 21.4423 87.7035 22.6209 87.7035 24.0894C87.7035 25.5578 87.1997 26.6746 86.1922 27.587C85.1847 28.4995 83.9539 28.9557 82.4902 28.9557H79.1303V34.1547H79.1351ZM82.3001 26.2944C82.9084 26.2944 83.4454 26.1091 83.9111 25.7384C84.3769 25.3677 84.6145 24.8165 84.6145 24.0941C84.6145 23.3718 84.3816 22.811 83.9111 22.4403C83.4454 22.0696 82.9084 21.8843 82.3001 21.8843H79.1351V26.2992H82.3001V26.2944Z"
            ></path>
            <path d="M89.324 34.1547V19.2183H92.4462V34.1547H89.324Z"></path>
            <path
              d="M98.5482 34.1547V21.87H94.0763V19.2183H107.178L106.147 21.87H101.67V34.1547H98.5482Z"
            ></path>
            <path
              d="M129.272 34.1547H119.073V19.2183H122.196V31.4934H129.272V34.1547Z"
            ></path>
            <path
              d="M70.2863 30.7711H65.534L64.3365 34.2545H60.6867L66.8409 19.2183H68.9842L75.1384 34.2545H71.4792L70.2816 30.7711H70.2863ZM69.4404 28.3284L67.9054 23.7757L66.3799 28.3284H69.4404Z"
            ></path>
            <path
              d="M112.862 30.7711H108.11L106.912 34.2545H103.262L109.417 19.2183H111.56L117.714 34.2545H114.055L112.857 30.7711H112.862ZM112.016 28.3284L110.481 23.7757L108.956 28.3284H112.016Z"
            ></path>
          </svg>
        </li>
        <li class="box grow flex justify-center">
          <svg
            width="194"
            height="40"
            viewBox="0 0 194 40"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            data-size="m"
          >
            <path
              d="M0 0V40H27.6945V0H0ZM22.0749 33.8329H13.2637C12.2478 33.1268 12.0245 32.1542 11.9741 31.7939C11.9669 31.7003 11.9524 31.6426 11.9524 31.6426H19.8919V29.9135H11.5778C11.5778 29.9135 10.7637 29.8919 9.78386 29.5893C8.03314 29.0274 5.61239 27.5648 5.61239 23.6239V6.18156H11.9741V25.8934C11.9741 25.8934 10.6628 25.8429 9.79107 24.5821V7.817H7.80259V23.6167C7.80259 25.3098 8.39337 26.4697 9.59654 27.1542C9.66138 27.183 9.72622 27.219 9.78386 27.2478C10.6628 27.6801 11.513 27.7233 11.5922 27.7233H22.0677V33.8256L22.0749 33.8329Z"
            ></path>
            <path
              d="M44.9279 12.2623H42.0389V27.6514H52.4495V25.0001H44.9279V12.2623Z"
            ></path>
            <path
              d="M74.1498 14.3588C73.4365 13.6528 72.5792 13.0908 71.5994 12.6873C70.6195 12.2839 69.5389 12.075 68.3789 12.075C67.219 12.075 66.1383 12.2839 65.1585 12.6873C64.1786 13.0908 63.3213 13.66 62.608 14.3588C61.8948 15.0649 61.3328 15.9078 60.9366 16.866C60.5403 17.8242 60.3314 18.8761 60.3314 19.9928C60.3314 21.1095 60.5331 22.1398 60.9366 23.098C61.3328 24.0562 61.902 24.8992 62.6152 25.598C63.3285 26.2969 64.1858 26.8516 65.1657 27.2479C66.1455 27.6441 67.2262 27.8458 68.3861 27.8458C69.5461 27.8458 70.6267 27.6441 71.6066 27.2479C72.5864 26.8516 73.4438 26.2969 74.157 25.598C74.8703 24.8992 75.4322 24.0562 75.8357 23.098C76.2319 22.1398 76.4409 21.0951 76.4409 19.9928C76.4409 18.8905 76.2391 17.8242 75.8357 16.866C75.4394 15.9078 74.8775 15.0649 74.1642 14.3588H74.1498ZM73.5374 19.9928C73.5374 20.7421 73.4077 21.4481 73.1484 22.075C72.889 22.7018 72.5288 23.2565 72.0749 23.7176C71.621 24.1787 71.0806 24.5389 70.4538 24.8055C69.2002 25.3242 67.5576 25.3242 66.3112 24.8055C65.6844 24.5461 65.1368 24.1787 64.6757 23.7176C64.2218 23.2565 63.8544 22.709 63.6023 22.0822C63.3501 21.4554 63.2204 20.7565 63.2204 20C63.2204 19.2435 63.3501 18.5375 63.6095 17.8963C63.8688 17.2551 64.2291 16.6931 64.6829 16.2248C65.1296 15.7565 65.6844 15.3891 66.3112 15.1297C66.9452 14.8703 67.6368 14.7335 68.3717 14.7335C69.1066 14.7335 69.7982 14.8631 70.425 15.1297C71.0518 15.3891 71.5994 15.7565 72.0605 16.2248C72.5216 16.6931 72.8818 17.2551 73.1412 17.8963C73.4005 18.5375 73.5302 19.2507 73.5302 20L73.5374 19.9928Z"
            ></path>
            <path
              d="M96.8156 20.9511C96.8156 22.2767 96.4913 23.3286 95.8573 24.0779C95.2233 24.8272 94.3083 25.1874 93.0764 25.1874C91.8444 25.1874 90.9294 24.8272 90.3026 24.0779C89.6686 23.3286 89.3516 22.2767 89.3516 20.9511V12.2623H86.4697V20.9223C86.4697 22.0318 86.6282 23.0332 86.938 23.8906C87.255 24.7551 87.7017 25.49 88.2781 26.0664C88.8545 26.6499 89.5605 27.0966 90.3746 27.3992C91.1888 27.6946 92.0965 27.8459 93.0836 27.8459C94.0706 27.8459 94.9784 27.6946 95.7925 27.3992C96.6066 27.0966 97.3127 26.6499 97.889 26.0664C98.4654 25.4828 98.9121 24.7551 99.2291 23.8906C99.5389 23.0332 99.6974 22.039 99.6974 20.9223V12.2623H96.8156V20.9511Z"
            ></path>
            <path
              d="M124.474 12.2623L117.99 23.2422L111.491 12.2623H110.382L109.748 27.6514H112.608L112.925 19.9352L117.478 27.8027H118.509L123.04 19.9569L123.372 27.6514H126.218L125.584 12.2623H124.474Z"
            ></path>
            <path
              d="M143.177 12.0533H142.262L134.906 27.6513H138.004L142.731 17.2407L144.712 21.6355H142.363L141.304 24.0058H145.785L147.435 27.6513H150.526L148.804 24.0058H150.778V21.6355H147.694L143.177 12.0533Z"
            ></path>
            <path
              d="M169.69 20.843C170.317 19.9569 170.641 18.8906 170.641 17.6874C170.641 16.8949 170.497 16.16 170.216 15.4972C169.935 14.8416 169.532 14.258 169.02 13.7825C168.509 13.2998 167.896 12.9252 167.19 12.6586C166.484 12.392 165.699 12.2623 164.856 12.2623H159.114V27.6514H161.996V23.1341H164.452L167.882 27.6514H171.333L167.478 22.6226C168.386 22.2335 169.128 21.6355 169.683 20.843H169.69ZM167.687 17.6658C167.687 18.5159 167.421 19.186 166.873 19.7047C166.326 20.2306 165.62 20.4828 164.712 20.4828H161.996V14.9208H164.712C165.605 14.9208 166.333 15.173 166.873 15.6773C167.421 16.1816 167.68 16.8301 167.68 17.673L167.687 17.6658Z"
            ></path>
            <path
              d="M191.715 23.9409C191.246 24.33 190.706 24.6398 190.101 24.8703C188.869 25.3386 187.277 25.3242 186.03 24.8199C185.389 24.5605 184.827 24.1931 184.352 23.732C183.876 23.2709 183.501 22.7162 183.228 22.0822C182.954 21.4481 182.817 20.7421 182.817 19.9712C182.817 19.2003 182.954 18.4871 183.228 17.853C183.501 17.2118 183.876 16.6499 184.352 16.1888C184.827 15.7277 185.389 15.3675 186.023 15.1153C187.248 14.6254 188.79 14.611 190.072 15.0432C190.677 15.2522 191.225 15.5692 191.7 15.9943L191.945 16.2104L193.35 13.8329L193.17 13.6888C192.558 13.1989 191.816 12.8026 190.965 12.5144C190.115 12.2262 189.157 12.0822 188.12 12.0822C186.952 12.0822 185.857 12.2767 184.863 12.6729C183.869 13.062 182.997 13.6167 182.262 14.3156C181.527 15.0144 180.951 15.8574 180.54 16.8156C180.13 17.7738 179.928 18.8401 179.928 19.9856C179.928 21.1311 180.137 22.1758 180.54 23.1412C180.944 24.1066 181.527 24.9496 182.262 25.6484C182.997 26.3473 183.869 26.8948 184.863 27.2911C185.857 27.6801 186.952 27.8819 188.12 27.8819C189.157 27.8819 190.115 27.7378 190.965 27.4496C191.816 27.1614 192.558 26.7652 193.17 26.2752L193.35 26.1311L191.952 23.7608L191.707 23.9626L191.715 23.9409Z"
            ></path>
          </svg>
        </li>
      </ul>
    </section>
    <section class="region" id="how-it-works">
      <div class="wrapper flex flex-col items-center flow text-center">
        <h2>How it works</h2>
      </div>
      <div class="wrapper mt-l">
        <ul role="list" class="grid justify-center" data-layout="thirds">
          <li
            class="flex flex-col justify-center text-center flow prose box relative z-10"
          >
            <h3 class="mt-zero">Discovery</h3>
            <p>
              I get a better understanding of you, and your customers goals.
            </p>
          </li>
          <li
            class="flex flex-col justify-center text-center flow prose box relative z-10"
          >
            <h3 class="mt-zero">Strategy</h3>
            <p>Together we'll diagnose challenges and design a response.</p>
          </li>
          <li
            class="flex flex-col justify-center text-center flow prose box relative z-10"
          >
            <h3 class="mt-zero">Execute</h3>
            <p>We create a plan, prioritize, breakdown and implement.</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="region wrapper" id="outcomes">
      <div class="box invert max-w-3xl">
        <h2 class="font-semibold mt-zero text-left">
          Designzen was created to make high fidelty user experiences more
          accessible to growing SaaS businesses.
        </h2>
        <h3 class="font-semibold">
          From product strategy, prototyping, and innovation, to user interface
          design, front-end development, and training you have every available
          capability of mine at your disposal.
        </h3>
      </div>
    </section>
    <section class="region">
      <div class="box z-10 relative">
        <ul role="list" class="grid text-center">
          <li class="flex flex-col items-center justify-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="fill-current mb-xs"
              viewBox="0 0 512 512"
            >
              <path
                d="M432 32c8.8 0 16 7.2 16 16V96h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V128H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V48c0-8.8 7.2-16 16-16zm0 288c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V416H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V336c0-8.8 7.2-16 16-16zM136.8 216.4L54.2 254.6l82.6 38.1c6.9 3.2 12.4 8.7 15.6 15.6l38.1 82.6 38.1-82.6c3.2-6.9 8.7-12.4 15.6-15.6l82.6-38.1-82.6-38.1c-6.9-3.2-12.4-8.7-15.6-15.6l-38.1-82.6-38.1 82.6c-3.2 6.9-8.7 12.4-15.6 15.6zM123.4 321.8L9.3 269.1C3.6 266.5 0 260.8 0 254.6s3.6-11.9 9.3-14.5l114.1-52.7L176 73.3c2.6-5.7 8.3-9.3 14.5-9.3s11.9 3.6 14.5 9.3l52.7 114.1L371.8 240c5.7 2.6 9.3 8.3 9.3 14.5s-3.6 11.9-9.3 14.5L257.8 321.8 205.1 435.8c-2.6 5.7-8.3 9.3-14.5 9.3s-11.9-3.6-14.5-9.3L123.4 321.8z"
              ></path></svg
            >
            Product strategy
          </li>
          <li class="flex flex-col items-center justify-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="fill-current mb-xs"
              viewBox="0 0 512 512"
            >
              <path
                d="M432 32c8.8 0 16 7.2 16 16V96h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V128H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V48c0-8.8 7.2-16 16-16zm0 288c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V416H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V336c0-8.8 7.2-16 16-16zM136.8 216.4L54.2 254.6l82.6 38.1c6.9 3.2 12.4 8.7 15.6 15.6l38.1 82.6 38.1-82.6c3.2-6.9 8.7-12.4 15.6-15.6l82.6-38.1-82.6-38.1c-6.9-3.2-12.4-8.7-15.6-15.6l-38.1-82.6-38.1 82.6c-3.2 6.9-8.7 12.4-15.6 15.6zM123.4 321.8L9.3 269.1C3.6 266.5 0 260.8 0 254.6s3.6-11.9 9.3-14.5l114.1-52.7L176 73.3c2.6-5.7 8.3-9.3 14.5-9.3s11.9 3.6 14.5 9.3l52.7 114.1L371.8 240c5.7 2.6 9.3 8.3 9.3 14.5s-3.6 11.9-9.3 14.5L257.8 321.8 205.1 435.8c-2.6 5.7-8.3 9.3-14.5 9.3s-11.9-3.6-14.5-9.3L123.4 321.8z"
              ></path></svg
            >
            Brand strategy
          </li>
          <li class="flex flex-col items-center justify-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="fill-current mb-xs"
              viewBox="0 0 512 512"
            >
              <path
                d="M432 32c8.8 0 16 7.2 16 16V96h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V128H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V48c0-8.8 7.2-16 16-16zm0 288c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V416H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V336c0-8.8 7.2-16 16-16zM136.8 216.4L54.2 254.6l82.6 38.1c6.9 3.2 12.4 8.7 15.6 15.6l38.1 82.6 38.1-82.6c3.2-6.9 8.7-12.4 15.6-15.6l82.6-38.1-82.6-38.1c-6.9-3.2-12.4-8.7-15.6-15.6l-38.1-82.6-38.1 82.6c-3.2 6.9-8.7 12.4-15.6 15.6zM123.4 321.8L9.3 269.1C3.6 266.5 0 260.8 0 254.6s3.6-11.9 9.3-14.5l114.1-52.7L176 73.3c2.6-5.7 8.3-9.3 14.5-9.3s11.9 3.6 14.5 9.3l52.7 114.1L371.8 240c5.7 2.6 9.3 8.3 9.3 14.5s-3.6 11.9-9.3 14.5L257.8 321.8 205.1 435.8c-2.6 5.7-8.3 9.3-14.5 9.3s-11.9-3.6-14.5-9.3L123.4 321.8z"
              ></path></svg
            >
            Frontend architecture
          </li>
          <li class="flex flex-col items-center justify-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="fill-current mb-xs"
              viewBox="0 0 512 512"
            >
              <path
                d="M432 32c8.8 0 16 7.2 16 16V96h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V128H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V48c0-8.8 7.2-16 16-16zm0 288c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V416H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V336c0-8.8 7.2-16 16-16zM136.8 216.4L54.2 254.6l82.6 38.1c6.9 3.2 12.4 8.7 15.6 15.6l38.1 82.6 38.1-82.6c3.2-6.9 8.7-12.4 15.6-15.6l82.6-38.1-82.6-38.1c-6.9-3.2-12.4-8.7-15.6-15.6l-38.1-82.6-38.1 82.6c-3.2 6.9-8.7 12.4-15.6 15.6zM123.4 321.8L9.3 269.1C3.6 266.5 0 260.8 0 254.6s3.6-11.9 9.3-14.5l114.1-52.7L176 73.3c2.6-5.7 8.3-9.3 14.5-9.3s11.9 3.6 14.5 9.3l52.7 114.1L371.8 240c5.7 2.6 9.3 8.3 9.3 14.5s-3.6 11.9-9.3 14.5L257.8 321.8 205.1 435.8c-2.6 5.7-8.3 9.3-14.5 9.3s-11.9-3.6-14.5-9.3L123.4 321.8z"
              ></path></svg
            >
            Design systems
          </li>
          <li class="flex flex-col items-center justify-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="fill-current mb-xs"
              viewBox="0 0 512 512"
            >
              <path
                d="M432 32c8.8 0 16 7.2 16 16V96h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V128H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V48c0-8.8 7.2-16 16-16zm0 288c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V416H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V336c0-8.8 7.2-16 16-16zM136.8 216.4L54.2 254.6l82.6 38.1c6.9 3.2 12.4 8.7 15.6 15.6l38.1 82.6 38.1-82.6c3.2-6.9 8.7-12.4 15.6-15.6l82.6-38.1-82.6-38.1c-6.9-3.2-12.4-8.7-15.6-15.6l-38.1-82.6-38.1 82.6c-3.2 6.9-8.7 12.4-15.6 15.6zM123.4 321.8L9.3 269.1C3.6 266.5 0 260.8 0 254.6s3.6-11.9 9.3-14.5l114.1-52.7L176 73.3c2.6-5.7 8.3-9.3 14.5-9.3s11.9 3.6 14.5 9.3l52.7 114.1L371.8 240c5.7 2.6 9.3 8.3 9.3 14.5s-3.6 11.9-9.3 14.5L257.8 321.8 205.1 435.8c-2.6 5.7-8.3 9.3-14.5 9.3s-11.9-3.6-14.5-9.3L123.4 321.8z"
              ></path></svg
            >
            Accessibility audits
          </li>
          <li class="flex flex-col items-center justify-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="fill-current mb-xs"
              viewBox="0 0 512 512"
            >
              <path
                d="M432 32c8.8 0 16 7.2 16 16V96h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V128H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V48c0-8.8 7.2-16 16-16zm0 288c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V416H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V336c0-8.8 7.2-16 16-16zM136.8 216.4L54.2 254.6l82.6 38.1c6.9 3.2 12.4 8.7 15.6 15.6l38.1 82.6 38.1-82.6c3.2-6.9 8.7-12.4 15.6-15.6l82.6-38.1-82.6-38.1c-6.9-3.2-12.4-8.7-15.6-15.6l-38.1-82.6-38.1 82.6c-3.2 6.9-8.7 12.4-15.6 15.6zM123.4 321.8L9.3 269.1C3.6 266.5 0 260.8 0 254.6s3.6-11.9 9.3-14.5l114.1-52.7L176 73.3c2.6-5.7 8.3-9.3 14.5-9.3s11.9 3.6 14.5 9.3l52.7 114.1L371.8 240c5.7 2.6 9.3 8.3 9.3 14.5s-3.6 11.9-9.3 14.5L257.8 321.8 205.1 435.8c-2.6 5.7-8.3 9.3-14.5 9.3s-11.9-3.6-14.5-9.3L123.4 321.8z"
              ></path></svg
            >
            Knowledge transfer
          </li>
          <li class="flex flex-col items-center justify-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="fill-current mb-xs"
              viewBox="0 0 512 512"
            >
              <path
                d="M432 32c8.8 0 16 7.2 16 16V96h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V128H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V48c0-8.8 7.2-16 16-16zm0 288c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V416H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V336c0-8.8 7.2-16 16-16zM136.8 216.4L54.2 254.6l82.6 38.1c6.9 3.2 12.4 8.7 15.6 15.6l38.1 82.6 38.1-82.6c3.2-6.9 8.7-12.4 15.6-15.6l82.6-38.1-82.6-38.1c-6.9-3.2-12.4-8.7-15.6-15.6l-38.1-82.6-38.1 82.6c-3.2 6.9-8.7 12.4-15.6 15.6zM123.4 321.8L9.3 269.1C3.6 266.5 0 260.8 0 254.6s3.6-11.9 9.3-14.5l114.1-52.7L176 73.3c2.6-5.7 8.3-9.3 14.5-9.3s11.9 3.6 14.5 9.3l52.7 114.1L371.8 240c5.7 2.6 9.3 8.3 9.3 14.5s-3.6 11.9-9.3 14.5L257.8 321.8 205.1 435.8c-2.6 5.7-8.3 9.3-14.5 9.3s-11.9-3.6-14.5-9.3L123.4 321.8z"
              ></path></svg
            >
            Interviewing
          </li>
          <li class="flex flex-col items-center justify-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="fill-current mb-xs"
              viewBox="0 0 512 512"
            >
              <path
                d="M432 32c8.8 0 16 7.2 16 16V96h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V128H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V48c0-8.8 7.2-16 16-16zm0 288c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V416H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V336c0-8.8 7.2-16 16-16zM136.8 216.4L54.2 254.6l82.6 38.1c6.9 3.2 12.4 8.7 15.6 15.6l38.1 82.6 38.1-82.6c3.2-6.9 8.7-12.4 15.6-15.6l82.6-38.1-82.6-38.1c-6.9-3.2-12.4-8.7-15.6-15.6l-38.1-82.6-38.1 82.6c-3.2 6.9-8.7 12.4-15.6 15.6zM123.4 321.8L9.3 269.1C3.6 266.5 0 260.8 0 254.6s3.6-11.9 9.3-14.5l114.1-52.7L176 73.3c2.6-5.7 8.3-9.3 14.5-9.3s11.9 3.6 14.5 9.3l52.7 114.1L371.8 240c5.7 2.6 9.3 8.3 9.3 14.5s-3.6 11.9-9.3 14.5L257.8 321.8 205.1 435.8c-2.6 5.7-8.3 9.3-14.5 9.3s-11.9-3.6-14.5-9.3L123.4 321.8z"
              ></path></svg
            >
            Component libraries
          </li>
          <li class="flex flex-col items-center justify-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="fill-current mb-xs"
              viewBox="0 0 512 512"
            >
              <path
                d="M432 32c8.8 0 16 7.2 16 16V96h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V128H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V48c0-8.8 7.2-16 16-16zm0 288c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V416H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V336c0-8.8 7.2-16 16-16zM136.8 216.4L54.2 254.6l82.6 38.1c6.9 3.2 12.4 8.7 15.6 15.6l38.1 82.6 38.1-82.6c3.2-6.9 8.7-12.4 15.6-15.6l82.6-38.1-82.6-38.1c-6.9-3.2-12.4-8.7-15.6-15.6l-38.1-82.6-38.1 82.6c-3.2 6.9-8.7 12.4-15.6 15.6zM123.4 321.8L9.3 269.1C3.6 266.5 0 260.8 0 254.6s3.6-11.9 9.3-14.5l114.1-52.7L176 73.3c2.6-5.7 8.3-9.3 14.5-9.3s11.9 3.6 14.5 9.3l52.7 114.1L371.8 240c5.7 2.6 9.3 8.3 9.3 14.5s-3.6 11.9-9.3 14.5L257.8 321.8 205.1 435.8c-2.6 5.7-8.3 9.3-14.5 9.3s-11.9-3.6-14.5-9.3L123.4 321.8z"
              ></path></svg
            >
            Workshops
          </li>
          <li class="flex flex-col items-center justify-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="fill-current mb-xs"
              viewBox="0 0 512 512"
            >
              <path
                d="M432 32c8.8 0 16 7.2 16 16V96h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V128H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V48c0-8.8 7.2-16 16-16zm0 288c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V416H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V336c0-8.8 7.2-16 16-16zM136.8 216.4L54.2 254.6l82.6 38.1c6.9 3.2 12.4 8.7 15.6 15.6l38.1 82.6 38.1-82.6c3.2-6.9 8.7-12.4 15.6-15.6l82.6-38.1-82.6-38.1c-6.9-3.2-12.4-8.7-15.6-15.6l-38.1-82.6-38.1 82.6c-3.2 6.9-8.7 12.4-15.6 15.6zM123.4 321.8L9.3 269.1C3.6 266.5 0 260.8 0 254.6s3.6-11.9 9.3-14.5l114.1-52.7L176 73.3c2.6-5.7 8.3-9.3 14.5-9.3s11.9 3.6 14.5 9.3l52.7 114.1L371.8 240c5.7 2.6 9.3 8.3 9.3 14.5s-3.6 11.9-9.3 14.5L257.8 321.8 205.1 435.8c-2.6 5.7-8.3 9.3-14.5 9.3s-11.9-3.6-14.5-9.3L123.4 321.8z"
              ></path></svg
            >
            Vendor management
          </li>
          <li class="flex flex-col items-center justify-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="fill-current mb-xs"
              viewBox="0 0 512 512"
            >
              <path
                d="M432 32c8.8 0 16 7.2 16 16V96h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V128H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V48c0-8.8 7.2-16 16-16zm0 288c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V416H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V336c0-8.8 7.2-16 16-16zM136.8 216.4L54.2 254.6l82.6 38.1c6.9 3.2 12.4 8.7 15.6 15.6l38.1 82.6 38.1-82.6c3.2-6.9 8.7-12.4 15.6-15.6l82.6-38.1-82.6-38.1c-6.9-3.2-12.4-8.7-15.6-15.6l-38.1-82.6-38.1 82.6c-3.2 6.9-8.7 12.4-15.6 15.6zM123.4 321.8L9.3 269.1C3.6 266.5 0 260.8 0 254.6s3.6-11.9 9.3-14.5l114.1-52.7L176 73.3c2.6-5.7 8.3-9.3 14.5-9.3s11.9 3.6 14.5 9.3l52.7 114.1L371.8 240c5.7 2.6 9.3 8.3 9.3 14.5s-3.6 11.9-9.3 14.5L257.8 321.8 205.1 435.8c-2.6 5.7-8.3 9.3-14.5 9.3s-11.9-3.6-14.5-9.3L123.4 321.8z"
              ></path></svg
            >
            Prototypes
          </li>
          <li class="flex flex-col items-center justify-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="fill-current mb-xs"
              viewBox="0 0 512 512"
            >
              <path
                d="M432 32c8.8 0 16 7.2 16 16V96h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V128H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V48c0-8.8 7.2-16 16-16zm0 288c8.8 0 16 7.2 16 16v48h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V416H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h48V336c0-8.8 7.2-16 16-16zM136.8 216.4L54.2 254.6l82.6 38.1c6.9 3.2 12.4 8.7 15.6 15.6l38.1 82.6 38.1-82.6c3.2-6.9 8.7-12.4 15.6-15.6l82.6-38.1-82.6-38.1c-6.9-3.2-12.4-8.7-15.6-15.6l-38.1-82.6-38.1 82.6c-3.2 6.9-8.7 12.4-15.6 15.6zM123.4 321.8L9.3 269.1C3.6 266.5 0 260.8 0 254.6s3.6-11.9 9.3-14.5l114.1-52.7L176 73.3c2.6-5.7 8.3-9.3 14.5-9.3s11.9 3.6 14.5 9.3l52.7 114.1L371.8 240c5.7 2.6 9.3 8.3 9.3 14.5s-3.6 11.9-9.3 14.5L257.8 321.8 205.1 435.8c-2.6 5.7-8.3 9.3-14.5 9.3s-11.9-3.6-14.5-9.3L123.4 321.8z"
              ></path></svg
            >
            Marketing sites
          </li>
        </ul>
      </div>
    </section>
    <div class="relative z-10" id="benefits">
      <section class="center region box flow z-10 relative bg-white">
        <div class="flow prose wrapper text-center">
          <h2>Benefits</h2>
        </div>
        <ul role="list" class="grid mt-l">
          <li class="flex rounded sheen">
            <div class="flex flex-col flow grow box rounded">
              <h3 class="text-center mt-zero">Limited capacity</h3>
              <p>Deep thoughtful work only comes with no distractions.</p>
            </div>
          </li>
          <li class="flex rounded sheen">
            <div class="flex flex-col flow grow box rounded">
              <h3 class="text-center mt-zero">Full access</h3>
              <p>Anything you need that I'm capable of doing.</p>
            </div>
          </li>
          <li class="flex rounded sheen">
            <div class="flex flex-col flow grow box rounded">
              <h3 class="text-center mt-zero">Sage staff</h3>
              <p>
                Decades of experience in human-centered design &amp;
                development.
              </p>
            </div>
          </li>
          <li class="flex rounded sheen">
            <div class="flex flex-col flow grow box rounded">
              <h3 class="text-center mt-zero">Dynamic dues</h3>
              <p>Easy to manage subscription. Pause or cancel any time.</p>
            </div>
          </li>
          <li class="flex rounded sheen">
            <div class="flex flex-col grow flow box rounded">
              <h3 class="text-center mt-zero">Predictable pay</h3>
              <p>Pay the same price, each month.</p>
            </div>
          </li>
        </ul>
      </section>
      <div class="blue-background-dark z-0"></div>
    </div>
    <div class="bg-gray-1100 text-center relative z-10" id="membership">
      <section class="center region wrapper flow z-10 relative">
        <div class="box max-w-xl mx-auto rounded-full bg-transparent">
          <div class="rounded sheen">
            <div class="flex flex-col flow box rounded">
              <h2 class="mt-zero">One option</h2>
              <p>
                Simple terms, few clients, maximum focus. 0/2 slots available.
              </p>
              <h3>$10,000/m</h3>
              <p class="text-center" style="margin-block-end: 1rem;">
                <small style="color: var(--blue800);" class="step--1"
                  >Pause or cancel anytime</small
                >
              </p>
              <p class="mt-auto self-center text-center">
                <a
                  href="https://buy.stripe.com/9AQeVe92q4B79PO3cd"
                  class="button">Get started</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="box max-w-xl mx-auto rounded-full bg-transparent">
          <div class="rounded sheen">
            <div class="flex flex-col flow box rounded items-center">
              <h3 class="mt-zero">Book enrollment call</h3>
              <p>Learn more about designzen, and how it can help you.</p>
              <p>
                <a
                  href="https://tidycal.com/frankstallone/designzen"
                  class="button">Book enrollment call</a
                >
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="relative z-10 overflow-clip bg-gray-1200 text-white">
      <section class="region wrapper flow z-10 relative">
        <ul role="list" class="switcher">
          <li class="flex flex-col flow items-center justify-end">
            <div class="flex">
              <object type="image/svg+xml" data="/images/nj.svg" width="50px"
                ><span class="sr-only">New Jersey</span></object
              >
              <div class="ml-s">
                <object
                  type="image/svg+xml"
                  data="/images/designzen-wordmark-light.svg"
                  width="200px"
                  ><span class="sr-only">designzen wordmark</span></object
                >
                <p>
                  <small
                    >designzen is located in the garden state &mdash; New Jersey</small
                  >
                </p>
              </div>
            </div>
          </li>
          <li></li>
          <li class="flex flex-col flow">
            <ul role="list">
              <li><a href="#how-it-works">How it works</a></li>
              <li><a href="#outcomes">Outcomes</a></li>
              <li><a href="#benefits">Benefits</a></li>
              <li>
                <a href="#membership">Pricing</a>
              </li>
              <li>
                <a href="https://billing.stripe.com/p/login/dR68yAcgi64c6B24gg"
                  >Manage subscription</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </footer>
    <script>
      import Typed from 'typed.js';
      const typed = new Typed('#role', {
        strings: ['UI', 'Design'],
        startDelay: 1500,
        showCursor: false,
        typeSpeed: 50,
        backSpeed: 40,
        backDelay: 2000,
      });
    </script>
  </main>
</Layout>
