---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import WorkedWith from '../components/WorkedWith.astro';
import Tension from '../components/Tension.astro';
import HowIWork from '../components/HowIWork.astro';
import WhatYoullGet from '../components/WhatYoullGet.astro';
import Membership from '../components/Membership.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Hero />
  <main role="main" id="main">
    <WorkedWith />
    <Tension />
    <HowIWork />
    <WhatYoullGet />
    <Membership />
    <FAQ />
  </main>
  <Footer />
</Layout>
