---
import Layout from '../layouts/Layout.astro';
import Skeobutton from '../components/Skeobutton.astro';
---

<Layout>
  <div class="min-h-svh wrapper min-w-full bg-gray-1300">
    <div class="min-h-svh flex justify-center items-center">
      <Skeobutton />
    </div>
  </div>
</Layout>
