---

---

<div class="relative z-10" id="benefits">
  <section
    class="region box flow z-10 relative bg-gradient-to-bl from-blue-900 to-blue-1000 text-blue-100"
    aria-labelledby="membership-benefits"
  >
    <div class="wrapper flex flex-col items-end">
      <div
        class="relative z-20 box max-w-3xl bg-gradient-to-tr from-blue-100 to-blue-vivid-200 text-blue-1000"
      >
        <h2 class="font-semibold mt-zero text-left text-step-3 md:text-step-4">
          What you'll get
        </h2>
        <p>
          Our collaboration will lead to bespoke solutions that tackle your
          specific challenges. Expect anything from strategic brand refinement,
          clever UI improvements in your product, and actionable product
          strategies to take your growth forward, all aimed at tightening your
          communication and enhancing user experience. From startups needing to
          clarify their customers' worldview to established brands looking to
          maintain momentum in product development, you'll receive tailored
          deliverables that make a lasting impact on your market presence and
          customer experience. I cover:
        </p>
        <ul>
          <li>
            Branding - from small changes to complete ground-up transformations
          </li>
          <li>UX design and engineering</li>
          <li>Front-end architecture and development</li>
          <li>Marketing websites, designed and built</li>
          <li>Web accessibility audits</li>
          <li>Product prototypes, designed and built</li>
          <li>Workshops and interviews</li>
          <li>Product strategy</li>
          <li>Systemizing processes</li>
          <li>Web Accessibility</li>
          <li>
            And almost anything else you could need across brand and product
            strategy, design, and execution.
          </li>
        </ul>

        <p>
          Actual deliverables will vary depending on our initial exploration
          together, but generally cover the following:
        </p>
        <p>
          <strong>Brand, product and design strategy</strong> in the form of packaged
          workshop and interview outcomes, user research findings, technical documentation,
          outlines or roadmaps, and brand guideline documents.
        </p>
        <p>
          <strong>Design assets</strong> delivered via Figma, Adobe products, PDFs,
          Notion databases or pages, Keynote presentations in various web-optimized
          formats, or print-ready files.
        </p>
        <p>
          <strong>Development assets</strong> delivered via web pages, HTML, CSS,
          or JavaScript, GitHub repositories, fully built websites, fully coded reusable
          components, and will use few (or no) third-party dependencies.
        </p>
      </div>
    </div>
  </section>
</div>
