---

---

<div class="relative z-10" id="benefits">
  <section
    class="region box flow z-10 relative bg-gradient-to-bl from-blue-900 to-blue-1000 text-blue-100"
    aria-labelledby="membership-benefits"
  >
    <div class="flow prose wrapper text-center">
      <h2 class="mt-zero" id="membership-benefits">Benefits</h2>
    </div>
    <ul role="list" class="grid mt-xl">
      <li class="flex">
        <div
          class="flex flex-col flow grow box text-center bg-gradient-to-tr from-mint-vivid-100 to-blue-vivid-200 text-mint-1000"
        >
          <h3 class="mt-zero">Limited capacity</h3>
          <p>Deep thoughtful work only comes with no distractions.</p>
        </div>
      </li>
      <li class="flex">
        <div
          class="flex flex-col flow grow box text-center bg-gradient-to-tr from-mint-vivid-100 to-blue-vivid-200 text-mint-1000"
        >
          <h3 class="mt-zero">Full access</h3>
          <p>Anything you need that I'm capable of doing.</p>
        </div>
      </li>
      <li class="flex">
        <div
          class="flex flex-col flow grow box text-center bg-gradient-to-tr from-mint-vivid-100 to-blue-vivid-200 text-mint-1000"
        >
          <h3 class="mt-zero">Sage staff</h3>
          <p>
            Decades of experience in human-centered design &amp; development.
          </p>
        </div>
      </li>
      <li class="flex">
        <div
          class="flex flex-col flow grow box text-center bg-mint-200 text-mint-1000"
        >
          <h3 class="mt-zero">Dynamic dues</h3>
          <p>Easy to manage subscription. Pause or cancel any time.</p>
        </div>
      </li>
      <li class="flex">
        <div
          class="flex flex-col grow flow box text-center bg-mint-200 text-mint-1000"
        >
          <h3 class="mt-zero">Predictable pay</h3>
          <p>Pay the same price, each month or week.</p>
        </div>
      </li>
    </ul>
  </section>
</div>
