---

---

<section
  id="membership"
  class="region wrapper flow prose text-center"
  aria-labelledby="membership-pricing"
>
  <h2 id="membership-pricing" class="mx-auto">Membership options</h2>
  <div
    class="md:grid text-center border border-gray-600 divide-y divide-gray-600 md:divide-y-0 md:divide-x md:divide-gray-600"
    style="--gutter: 0; --grid-min-item-size: 14rem;"
    data-layout="thirds"
  >
    <div class="flex flex-col flow prose bg-transparent p-s-m">
      <h3 class="text-gray-1200">Monthly</h3>
      <p class="mx-auto">
        Simple terms, few clients, maximum focus. 1 out of 2 slots available.
      </p>
      <h3 class="text-gray-1200">
        $5,000<small class="text-step-00 font-bold text-gray-800">/month</small>
      </h3>
      <p class="mx-auto">
        <small class="text-step-00">Pause or cancel anytime</small>
      </p>
      <p class="self-center">
        <a href="https://buy.stripe.com/bIY6oIceC1oV3rqaEM" class="button"
          >Get started</a
        >
      </p>
    </div>
    <div class="flex flex-col flow prose bg-transparent p-s-m">
      <h3 class="text-gray-1200">Weekly</h3>
      <p class="mx-auto">
        Simple terms, few clients, maximum focus. 1 out of 2 slots available.
      </p>
      <h3 class="text-gray-1200">
        $1,300<small class="text-step-00 font-bold text-gray-800">/week</small>
      </h3>
      <p class="mx-auto">
        <small class="text-step-00">Cancel anytime</small>
      </p>
      <p class="self-center">
        <a href="https://buy.stripe.com/4gwbJ25Qe4B71jifZ7" class="button"
          >Get started</a
        >
      </p>
    </div>
    <div class="flex flex-col flow bg-transparent justify-between p-s-m">
      <div class="flex flex-col flow">
        <h3 class="text-gray-1200">Book enrollment call</h3>
        <p class="mx-auto">
          Learn more about Designzen, and how it can help you.
        </p>
        <p class="mx-auto font-bold">
          For a limited time get your first design task free!
        </p>
      </div>
      <p class="self-center">
        <a href="https://tidycal.com/frankstallone/designzen" class="button"
          >Book a call</a
        >
      </p>
    </div>
  </div>
</section>
