---

---

<section
  id="membership"
  class="region wrapper flow prose text-center"
  aria-labelledby="membership-pricing"
>
  <h2 id="membership-pricing" class="mx-auto">Membership options</h2>
  <div
    class="md:grid text-center border border-gray-600 divide-y divide-gray-600 md:divide-y-0 md:divide-x md:divide-gray-600"
    style="--gutter: 0; --grid-min-item-size: 14rem;"
    data-layout="thirds"
  >
    <div class="flex flex-col flow prose bg-transparent p-s-m">
      <h3 class="text-gray-1200">Monthly</h3>
      <p class="mx-auto">
        Simple terms, few clients, maximum focus. 1 out of 2 slots available.
      </p>
      <h3 class="text-gray-1200">
        $5,000<small class="text-step-00 font-bold text-gray-800">/month</small>
      </h3>
      <p class="mx-auto">
        <small class="text-step-00">Pause or cancel anytime</small>
      </p>
      <p class="self-center">
        <a href="https://buy.stripe.com/bIY6oIceC1oV3rqaEM" class="button"
          >Get started</a
        >
      </p>
    </div>
    <div class="flex flex-col flow prose bg-transparent p-s-m">
      <h3 class="text-gray-1200">Weekly</h3>
      <p class="mx-auto">
        Simple terms, few clients, maximum focus. 1 out of 2 slots available.
      </p>
      <h3 class="text-gray-1200">
        $1,300<small class="text-step-00 font-bold text-gray-800">/week</small>
      </h3>
      <p class="mx-auto">
        <small class="text-step-00">Cancel anytime</small>
      </p>
      <p class="self-center">
        <a href="https://buy.stripe.com/4gwbJ25Qe4B71jifZ7" class="button"
          >Get started</a
        >
      </p>
    </div>
    <div class="flex flex-col flow bg-transparent justify-between p-s-m">
      <div class="flex flex-col flow">
        <h3 class="text-gray-1200">Book enrollment call</h3>
        <p class="mx-auto">
          Learn more about Designzen, and how it can help you.
        </p>
        <div class="flex gap-xs items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="text-step-0 fill-magenta-vivid-400"
            fill="currentColor"
          >
            <path
              d="M211 7.3C205 1 196-1.4 187.6 .8s-14.9 8.9-17.1 17.3L154.7 80.6l-62-17.5c-8.4-2.4-17.4 0-23.5 6.1s-8.5 15.1-6.1 23.5l17.5 62L18.1 170.6c-8.4 2.1-15 8.7-17.3 17.1S1 205 7.3 211l46.2 45L7.3 301C1 307-1.4 316 .8 324.4s8.9 14.9 17.3 17.1l62.5 15.8-17.5 62c-2.4 8.4 0 17.4 6.1 23.5s15.1 8.5 23.5 6.1l62-17.5 15.8 62.5c2.1 8.4 8.7 15 17.1 17.3s17.3-.2 23.4-6.4l45-46.2 45 46.2c6.1 6.2 15 8.7 23.4 6.4s14.9-8.9 17.1-17.3l15.8-62.5 62 17.5c8.4 2.4 17.4 0 23.5-6.1s8.5-15.1 6.1-23.5l-17.5-62 62.5-15.8c8.4-2.1 15-8.7 17.3-17.1s-.2-17.4-6.4-23.4l-46.2-45 46.2-45c6.2-6.1 8.7-15 6.4-23.4s-8.9-14.9-17.3-17.1l-62.5-15.8 17.5-62c2.4-8.4 0-17.4-6.1-23.5s-15.1-8.5-23.5-6.1l-62 17.5L341.4 18.1c-2.1-8.4-8.7-15-17.1-17.3S307 1 301 7.3L256 53.5 211 7.3z"
            ></path></svg
          >
          <p class="text-left">
            <strong class="font-bold"
              >For a limited time get your first design task free!</strong
            >
          </p>
        </div>
      </div>
      <p class="self-center">
        <a href="https://tidycal.com/frankstallone/designzen" class="button"
          >Book a call</a
        >
      </p>
    </div>
  </div>
</section>
