---

---

<section
  id="membership"
  class="region wrapper flow z-10 relative"
  aria-labelledby="membership-pricing"
>
  <h2 class="sr-only" id="membership-pricing">Membership pricing</h2>
  <div class="grid" data-layout="thirds">
    <div
      class="flex flex-col flow box rounded-3xl bg-gradient-to-tr from-blue-200 to-blue-vivid-200 text-blue-900 border-blue-vivid-400 border-4 border-solid shadow-md"
    >
      <h2 class="mt-zero">Monthly</h2>
      <p>Simple terms, few clients, maximum focus. 1/2 slots available.</p>
      <h3>$10,000/m</h3>
      <p>
        <small class="text-step-00">Pause or cancel anytime</small>
      </p>
      <p class="self-center">
        <a href="https://buy.stripe.com/cN27sM7Ym9Vr1ji9AH" class="button"
          >Get started</a
        >
      </p>
    </div>
    <div
      class="flex flex-col flow box rounded-3xl bg-gradient-to-tr from-blue-200 to-blue-vivid-200 text-blue-900 border-blue-vivid-400 border-4 border-solid shadow-lg"
    >
      <h2 class="mt-zero">Weekly</h2>
      <p>Simple terms, few clients, maximum focus. 1/2 slots available.</p>
      <h3>$2,600/m</h3>
      <p>
        <small class="text-step-00">Cancel anytime</small>
      </p>
      <p class="self-center">
        <a href="https://buy.stripe.com/14k5kEceCffL3rq28e" class="button"
          >Get started</a
        >
      </p>
    </div>
    <div
      class="flex flex-col flow justify-between box rounded-3xl bg-gradient-to-tr from-blue-200 to-blue-vivid-200 text-blue-900 border-blue-vivid-400 border-4 border-solid shadow-md"
    >
      <div class="flex flex-col flow">
        <h2 class="mt-zero text-step-3">Book enrollment call</h2>
        <p>Learn more about designzen, and how it can help you.</p>
      </div>
      <p class="self-center">
        <a href="https://tidycal.com/frankstallone/designzen" class="button"
          >Book a call</a
        >
      </p>
    </div>
  </div>
</section>
