---

---

<div class="bg-gradient-to-bl from-blue-900 to-blue-1000 text-blue-100">
  <section
    class="region region-space-3xl relative z-0 overflow-clip"
    id="pitch"
    aria-labelledby="design-strategy"
  >
    <div class="wrapper flow">
      <div
        class="relative z-20 box max-w-3xl bg-gradient-to-tr from-mint-vivid-200 to-blue-vivid-200 text-mint-900"
      >
        <h2
          class="font-semibold mt-zero text-step-3 md:text-step-4 text-mint-700"
          id="design-strategy"
        >
          Struggling to connect your brand and product to your customers? Not
          any more.
        </h2>
      </div>
      <div
        class="relative z-20 box max-w-3xl bg-gradient-to-tr from-mint-vivid-200 to-blue-vivid-200 text-mint-900"
      >
        <h3
          class="font-semibold text-mint-800 text-step-2 md:text-step-3 mt-zero"
        >
          I help you develop and bring clarity to the way you communicate your
          brand, refine and scale your product, and grow with a consistent,
          compelling identity.
        </h3>

        <p>
          Whether it's accelerating front-end design and development to keep up
          with new features, bridging the gap between design and development
          teams, crafting and launching a website that better tells your story,
          creating intuitive user experiences in your product, or packaging up
          robust design systems so you'll stay consistent as you grow, I'm here
          to deepen that valuable connection with your audience.
        </p>
      </div>
    </div>
  </section>
</div>
