---

---

<div class="bg-gradient-to-bl from-blue-900 to-blue-1000 text-blue-100">
  <section
    class="region region-space-3xl relative z-0 overflow-clip"
    id="pitch"
    aria-labelledby="design-strategy"
  >
    <div class="wrapper">
      <div
        class="relative z-20 box max-w-3xl bg-gradient-to-tr from-mint-vivid-200 to-blue-vivid-200 text-mint-700"
      >
        <h2
          class="font-semibold mt-zero text-left text-step-3 md:text-step-4"
          id="design-strategy"
        >
          Design strategy to enhance your mission, vision, and purpose — driving
          exceptional value to your customers.
        </h2>
      </div>
    </div>
  </section>
  <section
    class="region relative z-0 overflow-clip"
    id="how-i-work"
    aria-labelledby="process"
  >
    <div class="wrapper text-center">
      <h2 id="process" class="text-blue-400">Process</h2>
      <ul
        role="list"
        class="relative z-20 grid justify-center mt-xl"
        data-layout="thirds"
      >
        <li
          class="flex flex-col justify-center flow prose box rounded-3xl bg-gradient-to-tr from-blue-100 to-blue-vivid-200 text-blue-800 relative z-10"
        >
          <h3 class="mt-zero text-blue-700">Discovery</h3>
          <p>I get a better understanding of you, and your customers goals.</p>
        </li>
        <li
          class="flex flex-col justify-center flow prose box rounded-3xl bg-gradient-to-tr from-blue-100 to-blue-vivid-200 text-blue-800 relative z-10"
        >
          <h3 class="mt-zero text-blue-700">Strategy</h3>
          <p>Together we'll diagnose challenges and design a response.</p>
        </li>
        <li
          class="flex flex-col justify-center flow prose box rounded-3xl bg-gradient-to-tr from-blue-100 to-blue-vivid-200 text-blue-800 relative z-10"
        >
          <h3 class="mt-zero text-blue-700">Execute</h3>
          <p>We create a plan, prioritize, breakdown and implement.</p>
        </li>
      </ul>
    </div>
  </section>
</div>
