---

---

<section
  class="region bg-gradient-to-tr from-magenta-100 to-gold-100 text-magenta-800 relative overflow-clip"
  id="pitch"
>
  <img
    src="/images/circuit.svg"
    width="414"
    height="414"
    class="embel z-10"
    aria-hidden="true"
    loading="lazy"
    data-type="muted"
    data-position="center-right"
  />
  <div class="wrapper z-20">
    <div class="flow prose">
      <h2 class="text-magenta-vivid-800">
        Struggling to connect your brand and product to your customers? Not any
        more.
      </h2>
      <h3 class="text-magenta-vivid-900">
        I help you define and communicate your brand, polish and scale your
        product, and grow with a consistent, compelling identity.
      </h3>
      <p>
        Whether it's front-end design and dev that makes your new features pop,
        bridging the gap between design and development teams, crafting a
        website that better tells your story, or refining the user experience in
        your product, I'm here to deepen the connection you're building with
        your audience.
      </p>
      <p>(because in SaaS, connection means <em>growth</em>)</p>
    </div>
  </div>
</section>
