---

---

<div id="benefits">
  <section class="region">
    <div class="wrapper">
      <div class="switcher">
        <div class="box flow prose bg-gray-200">
          <h2>What you'll get</h2>
          <p class="text-gray-1000">
            Our time together will lead to bespoke solutions that tackle your
            specific challenges. From startups needing to clarify their
            customers' worldview to established brands looking to maintain
            momentum in product development, you'll receive tailored
            deliverables that make a lasting impact on your market presence and
            customer experience. I cover:
          </p>
        </div>
        <ul>
          <li>
            Branding - from small changes to complete ground-up transformations
          </li>
          <li>
            Branding - from small changes to complete ground-up transformations
          </li>
          <li>UX design and engineering</li>
          <li>Front-end architecture and development</li>
          <li>Marketing websites, designed and built</li>
          <li>Accessibility audits</li>
          <li>Product prototypes, designed and built</li>
          <li>
            Complete design systems (UI kits, design tokens, guidelines,
            reference sites, component libraries)
          </li>
          <li>Workshops and interviews</li>
          <li>Product strategy</li>
          <li>Systemizing processes</li>
          <li>
            And almost anything else you could need across brand and product
            strategy, design, and execution.
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
<section class="region">
  <div class="wrapper flow">
    <div
      class="pb-m border-solid border border-b-gray-600 border-t-0 border-l-0 border-r-0"
    >
      <div class="grid" data-layout="50-50">
        <h3>Brand, product and design strategy</h3>
        <p>
          In the form of packaged workshop and interview outcomes, user research
          findings, technical documentation, outlines or roadmaps, and brand
          guideline documents.
        </p>
      </div>
    </div>
    <div
      class="pb-m border-solid border border-b-gray-600 border-t-0 border-l-0 border-r-0"
    >
      <div class="grid" data-layout="50-50">
        <h3>Design assets</h3>
        <p>
          Delivered via Figma, Adobe products, PDFs, Notion databases or pages,
          Keynote presentations in various web-optimized formats, or print-ready
          files.
        </p>
      </div>
    </div>
    <div
      class="pb-m border-solid border border-b-gray-600 border-t-0 border-l-0 border-r-0"
    >
      <div class="grid" data-layout="50-50">
        <h3>Development assets</h3>
        <p>
          Delivered via web pages, HTML, CSS, or JavaScript, GitHub
          repositories, fully built websites, fully coded reusable components,
          and will use few (or no) third-party dependencies.
        </p>
      </div>
    </div>
    <p>
      <small class="text-step-000">
        Actual deliverables will vary depending on our initial exploration
        together, but generally cover the above.
      </small>
    </p>
  </div>
</section>
