/* Button */

.button {
  display: block;
  max-width: fit-content;
  color: var(--color-gold-1000);
  background-color: var(--color-gold-vivid-300);
  letter-spacing: -0.025em;
  font-size: var(--size-step-0);
  font-weight: 500;
  padding-block-start: var(--space-xs);
  padding-block-end: var(--space-xs);
  padding-inline-start: var(--space-xl);
  padding-inline-end: var(--space-xl);
  text-decoration: none;
  border-radius: 9999px;
}
.button:hover {
  background-color: var(--color-gold-vivid-400);
  color: var(--color-gold-1000);
}
.button:disabled {
  background-color: var(--color-gray-300);
  color: var(--color-gray-700);
}
.button:disabled:hover {
  background-color: var(--color-gray-400);
  color: var(--color-gray-800);
}
