.glass-container {
  position: relative;
}

.glass-container::before {
  @apply -inset-[10px] border border-gray-100/20 bg-gray-200/10 backdrop-blur-md;
  z-index: 10;
  position: absolute;
  content: '';
}
