/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/

body {
  font-family: var(--font-base);
  font-weight: var(--font-semibold);
  color: var(--color-gray-1000);
  margin: 0;
  font-size: var(--size-step-00);
  line-height: 1.5;
}

strong {
  font-weight: var(--font-bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-base);
  font-weight: var(--font-bold);
  letter-spacing: -0.025em;
  margin-top: 0;
  color: var(--color-gray-1200);
}

h1 {
  font-size: var(--size-step-4);
  max-inline-size: 50ch;
}

h2 {
  font-size: var(--size-step-3);
}

h3,
h4,
h5,
h6 {
  font-size: var(--size-step-2);
}

/* Baseline for default links */
a {
  text-decoration: underline;
  color: var(--color-gray-1400);
}

a:hover {
  text-decoration: none;
}

a:not([class]) {
  /* Relatively sized thickness and offset */
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}

p,
li,
blockquote:not([class]) {
  max-inline-size: 50ch;
}
blockquote:not([class]) {
  font-size: var(--size-step-2);
  margin-inline-start: 0;
  padding-inline-start: var(--space-xs-s);
  border-left: max(0.08em, 1px) solid var(--color-gray-1400);
}

svg {
  height: 0.8lh;
  width: auto;
  flex: none;
}

[role='list'] {
  padding: 0;
}

/* Scroll padding allowance below focused elements 
  to ensure they are clearly in view */
:focus {
  scroll-padding-block-end: 8vh;
}

:focus-visible {
  --outline-size: max(2px, 0.15em);

  outline: var(--outline-width, var(--outline-size)) var(--outline-style, solid)
    var(--outline-color, currentColor);
  outline-offset: var(--outline-offset, var(--outline-size));
}

/* Scroll padding allowance above anchor links */
:target {
  scroll-padding-block-start: 2rem;
}

main:focus {
  outline: none;
}

/* Base selection styles that invert whatever colours are rendered */
::selection {
  background: var(--color-gray-1400);
  color: var(--color-gray-100);
}

/* Remove default list styles for details */
summary::-webkit-details-marker {
  display: none;
}

@layer components {
  /* Animation */
  .animate-infinite-scroll {
    animation: infinite-scroll 25s linear infinite;
  }

  @keyframes infinite-scroll {
    to {
      transform: translateX(calc(-100% - var(--space-l)));
    }
  }
}
